*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  font-family: Inter, sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-style: normal;
}
