.sidebar {
  --side_bar_width: 50rem;

  position: absolute;
  z-index: 100;

  width: var(--side_bar_width);
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.1);
  color: white;

  transition: transform 0.5s ease-in-out;

  &.sidebar_collapsed {
    transform: translateX(calc(var(--side_bar_width) * -1));
  }
}

.arrow_icon {
  --icon_size: 4rem;

  position: absolute;
  top: calc(var(--icon_size) / 2 + 1rem);
  right: calc(var(--icon_size) * -1);
  transform: translate(-50%, -50%);
  border: white 0.1rem solid;
  border-radius: 100%;
  padding: 0.5rem;

  font-size: var(--icon_size);

  color: white;
  background-color: black;

  cursor: pointer;

  transition: transform 0.5s ease-in-out;
}

.rotate_arrow_icon {
  transform: translate(-50%, -50%) translateX(calc(var(--icon_size) - 1rem))
    rotate(180deg);
}

.form {
  --margin_between_inputs: 3rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;

  /* background-color: gold; */

  > p {
    margin-bottom: var(--margin_between_inputs);

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  > div {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    width: 100%;

    font-size: 1.5rem;

    > label {
      width: 50%;

      /* background-color: red; */
    }

    > input {
      width: 50%;
      margin-left: auto;
      padding: 0rem 0.5rem;

      /* background-color: chartreuse; */
    }
  }

  > button {
    align-self: flex-end;
    width: 50%;
    height: 4rem;
    margin-top: var(--margin_between_inputs);
    padding: 0.5rem;
    border-radius: 999rem;

    font-size: 1.5rem;
    font-weight: bold;

    &.submitDisabled {
      cursor: not-allowed;
    }
  }
}
